:root {
  --accent-10: #5686f510;
  --emphasis: #e8e8fd;
  --text: #98a0b3;
  /* Typography */
  --h1: 2.25rem;
  --h2: 1.95rem;
  --h3: 1.45rem;
  --paragraph: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
  --info-text: 1rem;
  --text-width-wide: 130ch;
  --text-width-medium: 60ch;
  --fw-bold: 700;
  --fw-regular: 500;
  --fw-light: 300;
  /* Spacing */
  --spacing-xxs: 0.5em;
  --spacing-xs: 1em;
  --spacing-s: 0.5em;
  --spacing-m: 3em;
   --spacing-l: 6em;
  --spacing-xl: 8em;
  /* Misc */
  --radius-xs: 0.25em;
  --radius-s: 0.5em;
  --center-it: 0em 8rem;
}
article {
  margin: var(--center-it);
  max-width: var(--text-width-wide);
}
@media screen and (max-width: 800px) {
    article{
        margin: 0em 2em;
    }
}
article>p~p {
  margin-bottom: var(--spacing-s);
}
h1 {
  font-family: roboto;
  color: var(--emphasis);
  margin-bottom: var(--spacing-s);
  font-size: var(--h1);
  font-weight: var(--fw-bold);
}
h2 {
  color: var(--emphasis);
  margin-bottom: var(--spacing-s);
  margin-top: var(--spacing-m);
  font-size: var(--h2);
  font-weight: var(--fw-bold);
}
h3 {
  color: var(--emphasis);
  margin-bottom: var(--spacing-s);
  font-size: var(--h3);
  font-weight: var(--fw-bold);
}
p {
  font-family: sans-serif;
  font-size: var(--paragraph);
  color: var(--text);
  line-height: 32px;
  letter-spacing: 0.25px;
  padding-bottom : 0.2em;
}
em {
  color: var(--emphasis);
}
.info {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-style: italic;
}

.title h1 {
  margin-top: 2.3em;
  text-align: center;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
ol,ul{
  font-family: sans-serif;
  font-size: var(--paragraph);
  color: var(--text);
  line-height: 32px;
  letter-spacing: 0.25px;
}

